<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpeg"%>
	</div>

	<div id="content">
		<h1>My profile</h1>
		<p>Cecep Efendi</p>
		<p>cecepefendi[dot]c2p@gmail[dot]com</p>
		<p>Lorem ipsum dolor amet palo santo jean shorts marfa swag, roof party ennui 8-bit dreamcatcher authentic slow-carb selvage keytar kombucha chicharrones. Pabst cloud bread lyft flannel chillwave. Yr ugh williamsburg cornhole banjo you probably haven't heard of them swag scenester brunch plaid hell of kitsch austin snackwave aesthetic. Locavore pop-up fam artisan.</p>
	</div>
</div>